.calculator {
  width: 400px; 
  height: 450px; /* Kept adjusting height as buttons had extra space beneath them. Other options could have been to change flex 3 to flex 2.5 or make button height 70px */
  display: flex;
  flex-direction: column;
  justify-content: center; /* centers vertically */
  background-color: #1C2833;
  border: 2px solid black;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center; /* centers the calculator horizontally */
  justify-content: center;
  min-height: 100vh; /* ensures the body takes up the full screen height */
  margin: 0px; /* margin was 8 on inspection */
}

.display {
  display: flex;
  background-color: white;
  flex: 1; /* this takes up less space than buttons */
  justify-content: flex-end; /* sends content to far right */
  align-items: center; /* centers content vertically */
  font-size: 50px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  height: 60px;
  padding-left: 5px; /*ensures numbers aren't touching edges */
  padding-right: 5px; /*ensures numbers aren't touching edges */
  background-color: #1C2833;
  color: white;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex: 3; /* this takes up 3x the space than the display */
  align-content: flex-start; /*Keeps buttons next to each other, vertically */
  gap: 3px;
  padding: 3px;
}

button {
  height: 65px;
  width: 65px;
  flex: 1 1 22%; /* this sets the starting size of the buttons */
  font-size: 25px;
  border: none;
  border-radius: 5%; /* Makes rounded edges */
}

button.clear {
  flex: 1 1 72%;
  background-color: #5DADE2;
}

button.zero {
  flex: 1 1 47%;
}

button.operator {
  background-color: #F39C12;
}

button.equals {
  background-color: #F39C12;
}



/*.calculator {
  display: flex;
  flex-direction: column;
  background-color: #1C2833;
  width: 400px;
  height: 500px;
  align-items: center;
  border: 2px solid #1C2833;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center; /* centers horizontally */
  /*min-height: 100vh; /* ensures the body takes up full height of the screen */
  /*justify-content: center;*/ /*centers vertically*/
/*}*/

/*.display {
  display: flex;
  flex: 1; /* takes up 1 portion of available space */
  /*background-color: #1C2833;
  width: 100%;
  height: 85px;
  align-items: center; /* centers them vertically */
  /*justify-content: flex-end; /* send numbers to the far right */
  /*font-size: 50px;
  color: white;
}*/

/*.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* centers horizontally */
  /*flex: 3; /* takes up 3 portions of available space */
  /*width: 100%;*/
  /*height: 100%;*/
  /*gap: 3px;
  justify-content: center; /*centers vertically */
  /*align-content: flex-start;*/ /*aligning all the rows of numbers (squeezes all the buttons together vertically, reducing the spaces in between) */
/*}

button {
  height: 70px;
  flex: 1 1 22%;
  border: none;
  font-size: 25px;
  border-radius: 5%;
  background-color: #FAFAFA;
}

button.clear {
  flex: 1 1 72%;
  background-color: #5DADE2;
}

button.number.zero {
  flex: 1 1 47%;
}

button.operator {
  background-color: #F39C12;
}

/*button.equals {
  background-color: #F39C12;
}*/





